#cal-1, #cal-2 {
    margin-left: 12px;
    margin-top: 10px;
}
.icon-button {
    width: 30px;
}
input {
    width: 243px;
    margin-bottom: 8px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=checkbox], input[type=radio] {
    width: auto;
}
.quick-button.metro {
    position: relative;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
    filter: none;
    padding: 30px 10px 0px 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
}

.btn-sq {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;
}

.btn-sq-sm {
    width: 50px !important;
    height: 50px !important;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px !important;
    height: 25px !important;
    padding:2px;
}

